.site-heading h1, .post-heading h1 {
  font-size: 50px !important;
  font-weight: 500 !important;
}

.intro-header .site-heading{
  /*padding: 85px 0px 55px;*/
  height: 354px;
}

.intro-header .post-heading {
  padding: 60px 0px 55px;
  height: 354px;
}

