<!-- InstaWidget -->
<!--<a href="https://instawidget.net/v/user/ucsbjapanblog" id="link-e847a506e55f7a050fd44381637208abf3e8a6ba6e07d638df0584c5269ca401">@ucsbjapanblog</a>-->
<!--<script src="https://instawidget.net/js/instawidget.js?u=e847a506e55f7a050fd44381637208abf3e8a6ba6e07d638df0584c5269ca401&width=100%"></script>-->
<iframe id="e847a506e55f7a050fd44381637208abf3e8a6ba6e07d638df0584c5269ca401" class="is-centered"style="border:0;padding:0;" scrolling="no" frameborder="no" src="https://instawidget.net/embed?u=e847a506e55f7a050fd44381637208abf3e8a6ba6e07d638df0584c5269ca401"></iframe>
<script>
    window.addEventListener("message", instawidget_adjust_height, false);
    function instawidget_adjust_height(e) { 
        const instaWidgetId = "e847a506e55f7a050fd44381637208abf3e8a6ba6e07d638df0584c5269ca401";
        if (e.origin === "http://instawidget.net" ||
            e.origin === "https://instawidget.net") {
            document.getElementById(instaWidgetId).style.height = e.data + 20 + "px"; 
            console.log(e.data)
            console.log(document.getElementById(instaWidgetId).style.height)
        }
    }
</script>
<style>
iframe#e847a506e55f7a050fd44381637208abf3e8a6ba6e07d638df0584c5269ca401 {
    box-shadow: 0px 10px 30px rgba(0, 0, 0, .06);
    padding: 10px 5px !important;
    -moz-border-radius: 0px;
    -webkit-border-radius: 7px 7px 7px 7px;
    border-radius: 7px 7px 7px 7px; 
    overflow:	hidden;
}
</style>
