<div class="columns is-variable is-5 is-hidden-mobile has-navbar-fixed-top">
    <div class="column is-8-desktop is-offset-1-desktop">
        {{ partial "post_list.html" . }}
        {{ partial "pagination.html" . }}
    </div>
    <div class="column is-2-desktop side">
        {{ partial "sidebar.html" . }}
    </div>
</div>

<div class="columns has-navbar-fixed-top is-hidden-desktop is-centered">
    <div class="column post-container">
        {{ partial "post_list.html" . }}
        {{ partial "pagination.html" . }}
    </div>
    <div class="column">
        {{ partial "sidebar.html" . }}
    </div>
</div>

