<!-- post list -->
{{ $colNum := 2.0 }}
{{ $lastRemainder := 0.0 }}
{{ range $index, $element := $.Paginator.Pages }}
    {{ $divided := math.Floor (div $index $colNum) }}
    {{ $multiplied := mul $divided $colNum }}
    {{ $remainder := math.Round (sub $index $multiplied) }}
    {{ if eq $remainder 0.0 }}
        <div class="columns">
        <div class="column">
        {{ partial "post" $element }}
        </div>
    {{ else }}
        <div class="column">
        {{ partial "post" $element }}
        </div>
        </div>
    {{ end }}
    {{ $lastRemainder = $remainder }}
{{ end }}
{{ if eq $lastRemainder 0.0 }}
</div>
{{ end }}
