<!-- Sidebar Container -->
<div class="{{ if .IsHome }} sticky {{ end }}">
    <!-- Featured Tags -->
    {{ if .Site.Params.featured_tags }}
    <section>
        <hr class="hidden-sm hidden-xs">
        <h5>FEATURED TAGS</h5>
        <div class="tags">
            {{ $featured_condition_size := .Site.Params.featured_condition_size }} 
            {{ range $name, $taxonomy := .Site.Taxonomies.tags }}
            {{ if gt (len $taxonomy.Pages) $featured_condition_size }} 
            <a href="{{ "/tags/" | relLangURL }}{{ $name | urlize }}" title="{{ $name }}">
                {{ $name }}
            </a>
            {{ end }} 
            {{ end }}
        </div>
    </section>
    {{ end }}

    {{ if not .IsHome }}
    <section>
        <hr>
        <h5>RELATED ARTICLES</h5>
        {{ $related := .Site.RegularPages.Related . | first 8 }}
        {{ with $related }}
        {{ range . }}
        <div class="post-preview">
            <a href="{{ .Permalink }}">
                {{ if and (isset .Params "image") (not (eq .Params.image "")) }}
                <div class="eyecatch-side">
                    <img src="{{ .Params.image | absURL }}" class="article-banner">
                </div>
                {{ end }}
                <h1 class="post-title-side is-size-3">
                    {{ .Title }}
                </h1>
            </a>
        </div>
        {{ end }}
    </section>
    {{ end }}
    {{ end }}

    <!-- Instagram -->
    {{ if .IsHome }}
    <section>
        <hr>
        <h5>INSTAGRAM</h5>
        {{ partial "instagram" . }}
    </section>
    {{ end }}
</div>
