<!-- Sidebar Container -->
<div class="sidebar {{ if .IsHome }} sticky {{ end }}">
    <!-- Featured Tags -->
    {{ if .Site.Params.featured_tags }}
    <section>
        <hr class="hidden-sm hidden-xs">
        <h5>FEATURED TAGS</h5>
        <div class="tags">
            {{ $featured_condition_size := .Site.Params.featured_condition_size }} 
            {{ range $name, $taxonomy := .Site.Taxonomies.tags }}
            {{ if gt (len $taxonomy.Pages) $featured_condition_size }} 
            <a href="{{ "/tags/" | relLangURL }}{{ $name | urlize }}" title="{{ $name }}">
                {{ $name }}
            </a>
            {{ end }} 
            {{ end }}
        </div>
    </section>
    {{ end }}

    <!-- Instagram -->
    {{ if .IsHome }}
    <section>
        <hr>
        <h5>INSTAGRAM</h5>
        {{ partial "instagram" . }}
    </section>
    {{ end }}
</div>
